<md-card>

  <font class="font-primary" size="6">Post Project Feedback</font>
  <div style="display:flex;flex-direction:column" [formGroup]="hireForm">
    <md-divider></md-divider>

  <md-input-container class="font-size-medium-and-padding">
      <input formControlName="name" [(ngModel)]="hire.name" mdInput [placeholder]="resource.name" />
      <div class="errorMessage">
        <span *ngIf="!hireForm.controls['name'].valid && clicked">  {{resource.validText}} {{resource.name}} </span>
      </div>
    </md-input-container>

  
  
    <md-input-container class="font-size-medium-and-padding">
      <input formControlName="projectTitle" [(ngModel)]="hire.projectTitle" mdInput [placeholder]="resource.projectTitle" />
      <div class="errorMessage">
        <span *ngIf="!hireForm.controls['projectTitle'].valid && clicked">  {{resource.validText}} {{resource.projectTitle}} </span>
      </div>
    </md-input-container>


    <md-input-container class="font-size-medium-and-padding">
      <textarea mdInput formControlName="message" [(ngModel)]="hire.message" [placeholder]="resource.clientMessagePost"></textarea>
      <div class="errorMessage">
        <span *ngIf="!hireForm.controls['message'].valid && clicked">  {{resource.validText}} {{resource.hireMessageHeading}} </span>
      </div>
    </md-input-container>

  
       <md-input-container  class="font-size-medium-and-padding">
      <input type="number" mdInput formControlName="marks" [(ngModel)]="hire.marks" [placeholder]="resource.hireMarksHint"/>
      <div class="errorMessage">
        <span *ngIf="!hireForm.controls['marks'].valid && clicked">  {{resource.validText}} {{resource.hireMarks}} </span>
      </div>
    </md-input-container>

      <div class="font-size-medium-and-padding">
      <button color="primary" (click)="submitContactValuesToServer(hire)" md-raised-button>Submit</button>
    </div>

  </div>
</md-card>